<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>

<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/text">Text Data</a>
        </li>
        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/students/api">API</a>
        </li>
    </ul>
    <h1>All about us</h1>
</body>

</html>