<%- include('../partials/head') %>

<body>
    <div class="wrapper">
        <%- include('../partials/navbar') %>
        <main>
            <div class="main-wrapper">
                <h3 class="page-title">About US</h3>
            </div>

        </main>
        <%- include('../partials/footer') %>

    </div>

</body>

</html>