<%- include('../partials/head') %>

<body>
  <div class="wrapper">
    <%- include('../partials/navbar') %>
    <main>
      <div class="main-wrapper">
        <h3 class="page-title">Home sweet home</h3>
        <div class="web-techs">
          <img src="/assets/images/html_logo.webp" alt="HTML Logo" />
          <img src="/assets/images/css_logo.png" alt="HTML Logo" />
          <img src="/assets/images/js_logo.png" alt="HTML Logo" />

        </div>


      </div>

    </main>
    <%- include('../partials/footer') %>

  </div>

</body>

</html>