<%- include('../partials/head') %>

<body>
  <%- include('../partials/navbar') %>
  <main>
    <h1>Home sweet home</h1>
    <img src="/assets/images/html_logo.webp" alt="HTML Logo" />
    <img src="/assets/images/css_logo.png" alt="HTML Logo" />
    <img src="/assets/images/js_logo.png" alt="HTML Logo" />
  </main>
  <%- include('../partials/footer') %>
</body>

</html>